.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;
    
}
.chart-title {
  -fx-text-fill: #ffffff;
  -fx-font-size: 1.6em;
}
.axis-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 20px;	 
}
.axis {  
    -fx-tick-label-fill: #999999;

}
